@use "../../scss/" as *;

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: $sidebar-width;
    background: rgba($color: $black, $alpha: 0.1);
    backdrop-filter: blur(30px);

    .sidebarLogo {
        margin: 40px 0 64px 0;

        img {
            max-width: 100%;
        }
    }

    .sidebarList {
        @include flex(center, flex-start);
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .sidebarItem {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;

        &:not(:last-child) {
            margin: 0 0 80px 0;
        }
    }
}